@{
    ViewData["Title"] = "Get to know Joel";
}
<h1>@ViewData["Title"]</h1>

<h3>Check out <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> where I perform regularly!</h3>
<h3>Also check out the <a href="https://baconsale.com/">Baconsale</a> Podcast!</h3>
<a href="https://baconsale.com/"><img src="~/img/baconsale.jpg" /></a>



