@*
    Peter Young section 1
    This is where the user confirms if they want to delete the movie. The MovieEntry model is passed in in order to display
    info about the correct movie.
*@
@{
}
@model MovieEntry
<h2>Confirm Deletion</h2>
<h3>@Model.Title, @Model.Year</h3>
<form asp-controller="Home" asp-action="Delete" method="post">
    <input type="hidden" asp-for="MovieId" />
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="MoviesList">Cancel</a>
</form>